@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100&family=Roboto:ital,wght@0,300;1,400&display=swap');

/*fuente
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.desplegar {
    transform: translateY(-200%);
}

.opaci {
    opacity: 0.6;

}

.random {
    visibility: visible;
}

/* NAVBAR STYLE */

.navbar-content {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 63px;
    background-color: #1C1F3A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-navbar {
    width: 15%;
    align-items: center;
    display: flex;
    position: relative;
}

.burger-img {
    cursor: pointer;
    margin-right: 40px;
    margin-left: 20px;
    padding-bottom: 5px;
    height: 30px;
}

.logo-img {
    height: 45px;
}

.nav-burger {
    width: 250px;
    background-color: #1C1F3A;
    position: absolute;
    top: 100%;
    z-index: 1;
    transition: 0.4s;
}

.nav-burger li {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07px;
    margin-bottom: 10px;
    margin-left: 40px;
    list-style: none;
    transition: all, 300ms;
    cursor: pointer;
}

.nav-burger li:hover {
    color: gray;
}

.main-nav-burger {
    padding-top: 32px;
    padding-bottom: 15px;
    width: auto;
    border-bottom: 1px solid #373952;
}

.second-main-burger {
    padding-top: 16px;
}

.center-navbar {
    width: 31%;
    align-items: center;
    display: flex;
}

.serch-content {
    background-color: #373952;
    width: 300px;
    height: 40px;
    border-radius: 20px;
}

.lens-img {
    margin-left: 250px;
}

.right-navbar {
    width: 11%;
    align-items: center;
    display: flex;
    position: relative;
}

.profile-main {
    width: 300px;
    height: 400px;
    padding-left: 20px;
    padding-top: 32px;
    background-color: #1C1F3A;
    position: absolute;
    top: 100%;
    right: 0%;
    z-index: 1;
    transition: 0.4s;
}

.container-img {
    border-bottom: 1px solid #373952;
    padding-bottom: 15px;
    padding-top: 5px;
}

.container-img ul li {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #FFF;
}

.container-img ul li p {
    padding-left: 5px;
    cursor: pointer;
    transition: all, 300ms;
}

.container-img ul li p:hover {
    color: gray;
}

.container-img ul li img {
    padding-right: 15px;
    margin-top: 2px;
    color: #FFF;
}

.user-img {
    margin-left: 50px;
    margin-right: 20px;
    cursor: pointer;
}

/* HOME STYLE */

.background-main {
    background-color: #141520;
    height: auto;
    width: 100%;
    padding-bottom: 50px;
}

.game-content {
    width: 80%;
    padding-top: 120px;
    display: flex;
    padding-left: 15%;
    position: relative;
}

.game-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.game-frame .container .btn-a {
    position: absolute;
    top: 50%;
    left: 33%;
}

.game-main {
    width: 90%;
}

.play {
    position: absolute;
    left: 40%;
    top: 55%;
    width: 185px;
    height: 59.954px;
    transform: rotate(-14.031deg);
    flex-shrink: 0;
    border-radius: 5px;
    border: #000;
    background-image: linear-gradient(180deg, #F51F1F 0%, #FF00B8 100%);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.section-card {
    padding-top: 60px;
    padding-left: 200px;
}

.font-h1 {
    color: #FFF;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-card {
    display: flex;
    flex-direction: row;
}

.card {
    width: 250px;
    height: 300px;
    background-color: #FFF;
    margin-right: 56px;
    margin-top: 21px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 2px #000;
}

.content-img-card:hover {
    transform: scale(1.1);
}

.card-free {
    position: relative;
}

.card-free svg {
    position: absolute;
    top: 17.2%;
    right: -9px;
}

.tag-free {
    width: auto;
    background-color: rgb(0, 255, 72);
    position: absolute;
    padding: 3px 20px;
    top: 0%;
    right: -4%;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.54px;
    box-shadow: 3px 3px 3px black;
}

.content-img-card {
    width: 219px;
    height: 144px;
    margin: 18px 15px 15px 16px;
    transition: all, 300ms;
}

.img-card {
    width: 100%;
    height: 100%;
}

.content-description {
    margin-top: 30px;
    margin-left: 16px;
}

.font-h2 {
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}

.font-h3 {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content-play {
    width: 80%;
    height: 35px;
    display: flex;
    margin-left: 40px;
}

.content-play button {
    width: 30%;
    height: 35px;
    background-color: #151B4B;
    border-radius: 12px;
    border: solid 1px #000;
    margin: auto;
    cursor: pointer;
}

.content-play .free {
    margin-left: 115px;
}


.content-play span {
    color: #1E028F;
    text-align: center;
    text-shadow: 4px 4px 8px #9A85F1;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 10px;
}

.carousel-section {
    width: 75%;
    height: 400px;
}

.carousel {
    /* overflow-x: scroll; */
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    width: 100%;

    position: relative;
    
}

.carousel-card {
    scroll-snap-align: start;
    display: inline-block;
    margin-bottom: 10px;
    
}

/* .carousel::-webkit-scrollbar {
    background-color: #1C1F3A;
    border: 2px;
    border-radius: 50px;
    height: 10px;
}

.carousel::-webkit-scrollbar-thumb {
    background: #373952;
    border-radius: 50px;
} */



/* FOOTER STYLE */

.footer {
    width: 100%;
    height: 390px;
    background-color: #1C1F3A;
    box-shadow: 0px 25px 35px -15px rgba(15, 30, 82, 0.32);
}

.footer-content {
    display: flex;
    flex-direction: row;
    height: auto;
    padding-top: 76px;
    padding-right: 20px;
}

.footer-info {
    display: flex;
    height: auto;
    flex-direction: column;
}

.footer-info:nth-child(1) {
    padding-left: 57px;
}

.footer-info:nth-child(2) {
    padding-left: 52px;
    width: 273px;
}

.footer-info:nth-child(3) {
    padding-left: 53px;
}

.footer-info:nth-child(4) {
    padding-left: 90px;
    width: 20%;
}

.footer-info p {
    width: 385px;
}

.footer-info div p {
    font-family: Roboto, ;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-info ul,
.footer-info p {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    list-style: none;
}

.footer-info ul li {
    padding-bottom: 10px;
    text-align: left;
}

.footer-info ul li:first-child {
    background: linear-gradient(180deg, #F51F1F 0%, #FF00B8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subscription-footer {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: flex-start;
    padding-top: 19px;
}

.subscription-footer .subscription {
    background-color: #1C1F3A;
    width: 224px;
    height: 46px;
    border-radius: 5px;
    border: 2px solid var(--fuente-gris, #878A9E);
    margin-right: 10px;
}

.subscription::placeholder {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 14px;
}

.subscription-footer button {
    width: 150px;
    height: 51px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #FFF;
    color: #212233;
    border-color: #212233;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.5px;
    cursor: pointer;
    transition: all, 0.7s;
}

.subscription-footer button:hover {
    background-color: #5335CC;
    color: #FFF;
    border-color: #FFF;
}

.social-footer {
    padding-top: 22px;
    width: 100%;
}

.footer-info p {
    text-align: left;
}

.social-footer img {
    padding-right: 23px;
    padding-top: 14px;
}

.content-social {
    width: 280px;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 55px;
    background-color: #1C1F3A;
}

.copyright p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.54px;
}

/* PAGINA DEL JUEGO */

.play-content {
    margin-left: 30px;
    padding: 10px 0 0px 0;
    padding-top: 70px;
}

.content-game {
    display: flex;
    flex-direction: row;
}

.play-content aside {
    margin-left: 45px;
    width: 20%;
}

.play-content aside img {
    width: 100%;
    height: 80%;
}

.game {
    background-color: #000;
    width: 70%;
    height: 600px;
}

.breadcrumb {
    margin-bottom: 3px;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
}

.share {
    cursor: pointer;
}

.content-game aside img {
    height: 90%;
    margin-top: 20px;
}

.description-game-content {
    width: 68.5%;
    height: 468px;
    background-color: #212233;
    margin-left: 30px;
    margin-top: 35px;
}

.font-body {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.information-game-content {
    display: flex;
    flex-direction: row;
    margin: 10px 33px;
    border-bottom: 2px solid #FFF;
    padding: 20px 0;
}

.information-game button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 38px;
    margin: 15px 0;
    border-radius: 15px;
    border: 1px solid #000;
    background-color: #878A;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.54px;
    color: #FFF;
}

.information-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 65%;
    height: auto;
}

.color-font {
    color: #FFF;
}

.information {
    width: 400px;
}

.description-section {
    display: flex;
    flex-direction: row;
}

.banner-img {
    width: 20%;
    height: 450px;
}

.banner-img img {
    width: 100%;
    height: 100%;
    margin-left: 40px;
    margin-top: 45px;
}

.gameplay-content {
    margin: 0 33px;
}

.gameplay-content h2 {
    padding-bottom: 20px;
}

.comunity-section {
    display: flex;
    flex-direction: row;
}

.comunity-content {
    width: 68.5%;
    height: 585px;
    background-color: #212233;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    padding-bottom: 45px;
}

.write-comment-content {
    width: 79%;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-top: 33px;
}

.write-comment {
    background-color: #D9D9D9;
    width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.write-comment p {
    margin-left: 26px;
}

.send-comment {
    width: 150px;
    height: auto;
}

.send-comment button {
    width: 100%;
    height: 100%;
}

.font-button {
    color: #1C1F3A;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.5px;
}

.comment-content {
    width: 81%;
    height: 123px;
    border: 2px solid #878A9E;
    background: #141520;
    margin-top: 35px;
}

.info-comment {
    width: 100%;
    height: 32%;
    border-bottom: 2px solid #878A9E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.user-name {
    margin: 5px 15px;
    color: #878A9E;
}

.comment {
    width: 100%;
    height: 68%;
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.comment p {
    width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.comunity-banner {
    width: 20%;
    height: 585px;
}

.comunity-banner img {
    width: 100%;
    height: 100%;
    margin-left: 45px;
    margin-top: 65px;
}

/**************************************************************/
/*====================== BOTON ANIMADO ======================*/
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.btn-a {
    position: absolute;
    font-weight: bold;
    border-radius: 15px;
    border: #000;
    width: 60px;
    height: 20px;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 40px;
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
}

.bta:hover {
    background: #ff22bb;
    box-shadow: 0 0 10px #ff22bb,
        0 0 30px #ff22bb,

}

.btn-a::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 400%;
    background-color: #ff22bb;
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * 0);
}

.btn-a:hover::before {
    width: 120%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-a::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg, #F51F1F 0%, #FF00B8 100%);
    inset: 4px;
    transition: 0.5s;
    border-radius: 15px;
}

.btn-a:hover::after {
    background-color: #ff22bb;
}

.btn-a span {
    position: relative;
    z-index: 1;
    font-size: 20px;
    color: #fff;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}

.btn-a:hover span {
    opacity: 1;
    color: #0e1538;
}

/*************************************************************/
@media (max-width: 700px) {

    .left-navbar {
        width: 28%;
    }

    .burger-img {
        margin-right: 15px;
        margin-left: 10px;
    }

    .center-navbar {
        width: 30%;
    }

    .serch-content {
        width: 100%;
    }

    .lens-img {
        margin-left: 70%;
    }

    .right-navbar {
        width: 18%;
        padding-right: 20px;
    }

    .img-right-navbar {
        display: flex;
        align-items: center;
    }

    .user-img {
        margin-left: 18px;
    }

    .nav-burger {
        width: 190px;
    }

    .profile-main {
        width: 190px;
    }

    .game-content {
        width: 80%;
        padding-left: 60px;
    }


    .game-content .game-frame img {
        width: 100%;
        margin: auto;
    }

    .game-frame .container .btn-a {
        position: absolute;
        top: 20%;
        left: 20%;
    }

    .btn-a {
        width: 5px;
        height: 5px;
    }

    .btn-a span {
        font-size: 15px;
    }

    .section-card {
        padding-left: 20%;
        padding-top: 40px;
    }

    .content-card {
        display: flex;
        flex-direction: column;     
    }

    .carousel-section {
        width: 72%;
    }

    .footer-content {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-info {
        width: 80%;
        margin-bottom: 20px;
    }

    .social-footer p {
        width: auto;
    }

    .footer-info:nth-child(4),
    .footer-info:nth-child(5) {
        padding-top: 10px;
        padding-left: 53px;
    }

    .footer {
        height: auto;
    }

    .footer-info ul,
    .footer-info p {
        font-size: 16px;
        width: auto;
    }

    .footer-info div p {
        font-size: 14px;
    }

    .subscription::placeholder {
        font-size: 14px;
    }

    .subscription-footer button {
        font-size: 12px;
    }

    .copyright {
        padding-top: 30px;
    }

    .copyright p {
        font-size: 12px;
    }

}

/*================= CARRUSEL =================*/

.slides {
    display: flex; 
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    transition: all .5s ease;

    scroll-snap-align: start;
    transform: translateX(0px);
} 

.slides::-webkit-scrollbar {
    background-color: #1C1F3A;
    border: 2px;
    border-radius: 50px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: #373952;
    border-radius: 50px;
}


.slider .btn-prev,
.slider .btn-next {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(224, 222, 222);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px;
    box-shadow: 0 0 15px rgba(17, 17, 17, .15);
    cursor: pointer;
}

.slider .btn-prev {
    left: -15px;
}

.slider .btn-next {
    right: -15px;
}

.slider .btn-prev:after,
.slider .btn-next:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

.slider .btn-prev:after {
    left: 40%;
    top: 50%;
    transform-origin: top right;
    transform: rotate(-135deg) translate(100%, -100%);
}

.slider .btn-next:after {    
    left: 60%;
    top: 50%;
    transform-origin: top right;
    transform: rotate(45deg) translate(-45%, 50%);
    
}