*{
    margin: 0;
    padding: 0;
}
/* Si necesitas que el cargador vaya más rápido o más lento, este es el lugar para cambiar. 
No olvides actualizar 'time' en el javascript */
:root {
    --time: 5s;
    --color-start: #5499F8;
    /* Color celeste */
    --color-end: #FFD700;
    /* Color amarillo */
}

/*========== LOADER ==========*/

#loading {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container {
    height: 6px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -300px;
    background-color: var(--color-end);
    background-image: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0) 100%);
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, .4);
    border-radius: 3px 0 0 3px;

    &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        margin-top: -0.5em;
        margin-right: -1em;
        background-image: linear-gradient(top, rgb(0, 0, 0), rgb(33, 33, 33));
    }

    &.done:after {
        background: Red;
    }
}

.run .runner {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 0%;
    background-color: var(--color-end);  
    background-image: linear-gradient(top, var(--color-start), var(--color-end));      
    animation: loader var(--time) linear;
}

.numeros {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    margin-top: .3em;
    color: rgb(5, 5, 5);
    animation: numeros var(--time) linear;
    text-shadow: 0 -1px 0 #333;

    &:after {
        content: "%";
    }
}

@keyframes loader {
    0% {
        width: 100%
    }

    100% {
        width: 0%;
    }
}

@keyframes numeros {
    0% {
        color: rgb(91, 216, 255);
    }

    100% {
        color: #ff0000;
    }

}
/*========== BARRA DE NAVEGACION ==========*/
.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0) 100%);
    padding: 10px 20px;
    color: #fff;
}
.menu-hamb {
    cursor: pointer;
}

.menu-hamb img {
    width: 34px;
    height: 26px;
}

.logo {
    flex: 1;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.buy-button {
    text-align: left; /* Ajuste para colocar el botón a la izquierda */
}

.buy-button button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 16px;
    cursor: pointer;
}